.root {
  display: flex;
  background-color: #171321;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}
